// COLORS

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-mixe: linear-gradient(0.48turn, $color-secondary, $color-primary);
$color-background-primary: #f6f6f6;

// FONTS

$general-font: "Roboto", sans-serif;
$title-font: "Shrikhand", cursive;
