@import "../variables";

* {
  box-sizing: border-box;
}
body {
  position: relative;
  max-width: 1440px;
  margin: auto;
  font-family: $general-font;

  padding: 20px;
}

a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 765px) {
  body {
    padding: 0px;
    margin: 0px;
  }
}
