@import "../variables";

footer {
  display: flex;
  flex-direction: column;
  background: #484848;
  color: white;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
  h3 {
    font-weight: lighter;
    font-family: $title-font;
  }

  a {
    color: white;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    height: 30px;
    .fas {
      width: 15px;
    }
    p {
      font-weight: normal;
      font-family: $general-font;
      padding-left: 10px;
      margin-bottom: 0px;
    }
  }
}

@media screen and (max-width: 1120px) {
  footer {
    border-radius: 0px;
    margin: 0px;
  }
}
